body{
	font-family: sans-serif;
	
}


header {
	background: url(photographer.jpg ) ;
	width: 1500px ;
	height: 600px ;
}header p {
	position: absolute;
	top: 40%;
	left: 45%;
	text-align: center;
	display: block;
	letter-spacing: 2px ;
	padding: 55px 40px;
	border: 1px solid white ;
	font-size: 20px;
	color: #f1f1f1;
}

header ul li{
	display: inline-block;
	padding: 10px 10px;
	border: 1px solid white ;

	

}header a {
	text-decoration: none ;
	color: white ;
}

header a:hover {
	font-size: 25px ;
	color:red ;
}


.main {
	margin: auto;
	width: 1000px;

}.image img {
	margin-top: 10px;
	padding-bottom: 30px;
}
.contact {
	width: 600px;
	height: 600px;
	margin: auto;
	background: #e3e3e3;

}

.contact h1 {
	text-align: center ;
}
form input {
	display: block;
	padding: 10px;
	width: 100%;
	margin-bottom: 10px;
}.submit {
	padding-left: 10px;
}